{%extends "base-portal.html"%}

{%block content%}
<div class="container">

    <div class="payment-method">
        <h2>Choose your payment method</h2>
        <div class="payment-option">
            <input type="radio" id="paypal" name="payment" />
            <label for="paypal">
                <div class="option-header">
                    <span>PayPal</span>
                    <img src="https://img.icons8.com/ios-filled/50/000000/paypal.png" alt="PayPal Logo">
                </div>
                <p>Safe payment online. Credit card needed. PayPal account is not necessary.</p>
            </label>
        </div>
        <div class="payment-option">
            <input type="radio" id="credit-card" name="payment" checked />
            <label for="credit-card">
                <div class="option-header">
                    <span>Credit Card</span>
                    <div class="card-icons">
                        <img src="https://img.icons8.com/color/48/000000/visa.png" alt="Visa">
                        <img src="https://img.icons8.com/color/48/000000/mastercard.png" alt="MasterCard">
                        <img src="https://img.icons8.com/color/48/000000/american-express.png" alt="Amex">
                    </div>
                </div>
                <p>Safe money transfer using your bank account. Visa, Maestro, Discover, American Express.</p>
            </label>
            <form method = 'POST' action="{{url_for('payment',job_id = job.job_id)}}">
                <label for="card-number">Credit Card Number</label>
                <input type="text" id="card-number" placeholder="XXXX XXXX XXXX XXXX" required/>
                <div class="form-row">
                    <div>
                        <label for="cvv">CVV Code</label>
                        <input type="text" id="cvv" placeholder="XXX" required/>
                    </div>
                    <div>
                        <label for="expiry-date">Expiry Date</label>
                        <input type="text" id="expiry-date" placeholder="MM / YY" required/>
                    </div>
                </div>
                <label for="card-name">Name on Card</label>
                <input type="text" id="card-name" placeholder="Card holder's Name" required />
                <button type = 'submit' class= 'confirm-button'>Confirm Payment</button>
            </form>
        </div>
    </div>
    <div class="summary">
        <h2>Summary</h2>
        <div class="summary-details">

            <p class="total"><strong>Total:</strong> $ {{job.salary}}</p>

        </div>
        {%if alert%}
        <p style="color: green;">{{alert}}</p>
        {%endif%}
    </div>

</div>
{%endblock%}